@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
#TmDiv {
    margin-top: 20px;
    margin-left: 7%;
    width: 420px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(107, 107, 107);
}

.table {
    width: 100%;
}

.CTmDiv {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5%;
    padding: 5px;
}

#tablename {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.topRow {
    background-color: rgb(255, 236, 125);
}

.greyRow {
    background-color: rgb(231, 231, 231);
}

tr {
    transition: all 0.3s;
}

tr:hover {
    /* color: white; */
    background-color: rgb(243, 230, 156);
}