#TmDiv {
    margin-top: 20px;
    margin-left: 7%;
    width: 420px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

.table {
    width: 100%;
}

.CTmDiv {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5%;
    padding: 5px;
}

#tablename {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.topRow {
    background-color: rgb(255, 236, 125);
}