.RmDiv {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  width: 400px;
  margin-left: 40px;
  margin-top: 3%;
  height: 45vh;
  overflow-y: scroll;
}

#RtickIcon,
#RaddIcon {
  width: 40px;
}

#RdeleteIcon {
  width: 50px;
  height: 40px;
}

.iconsTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: grey;
}
