.sMdiv {
  width: 400px;
  height: 45vh;
  overflow-y: scroll;
  margin: 5% 0% 2% 3%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

#searchInp,
.formImp {
  outline: none;
  width: 94%;
  padding: 2%;
  font-size: 1.2rem;
}

.hoverIcons {
  opacity: 0;
  visibility: hidden;
  margin-top: -35px;
  margin-left: 300px;
  cursor: pointer;
}

.form:hover > .hoverIcons {
  opacity: 1;
  visibility: visible;
}
