.sMdiv {
    width: 400px;
    height: 45vh;
    overflow-y: hidden;
    margin: 5% 0% 2% 3%;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.sMdiv::-webkit-scrollbar,
.scrollDiv::-webkit-scrollbar {
    display: none;
}

.scrollDiv {
    overflow-y: scroll;
}

#searchInp {
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 5px;
}

#searchInp,
.formImp {
    outline: none;
    width: 94%;
    padding: 2%;
    font-size: 1.2rem;
}

.hoverIcons {
    opacity: 0;
    visibility: hidden;
    margin-top: -35px;
    margin-left: 300px;
    cursor: pointer;
}

.form:hover>.hoverIcons {
    opacity: 1;
    visibility: visible;
}