.WatchmDiv {
    width: 400px;
    height: 45vh;
    overflow-y: scroll;
    margin: 5% 0% 2% 3%;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.WatchmDiv::-webkit-scrollbar {
    display: none;
}

#pTagVal {
    border-radius: 5px;
    font-size: 1.3rem;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 2%;
    margin-bottom: 2px;
    background: linear-gradient( 90deg, rgba(255, 204, 0, 0.2) 0%, rgba(212, 175, 55, 0.2) 30.52%, rgba(184, 134, 11, 0.2) 60.42%, rgba(153, 101, 21, 0.2) 100%);
}

#pTagVal:hover>.WiconsDiv {
    opacity: 1;
    visibility: visible;
}

.WiconsDiv {
    opacity: 0;
    visibility: hidden;
    background-color: white;
    width: 40%;
    margin-top: -30px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 5px 5px 5px rgb(190, 190, 190);
    backdrop-filter: opacity(0);
    transition: all 0.3s;
}

.inpValue {
    background-color: transparent;
    outline: none;
    border-style: none;
    font-size: 1.2rem;
    width: 100%;
}