body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

.Link {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    /* width */
    width: 5px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px rgb(207, 207, 207);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: rgb(255, 229, 85);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: gold;
    filter: brightness(0.75);
}