.NmDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    background-color: gold;
    padding: 1%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgb(231, 231, 231);
}