.NmDiv {
    width: 98%;
    background-color: gold;
    padding: 1%;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgb(231, 231, 231);
}

#ArrowBackIosIcon,
#ArrowForwardIosIcon {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#ArrowBackIosIcon {
    margin-right: -50px;
}

#ArrowForwardIosIcon {
    margin-left: -50px;
}

.mcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mcontent:hover>#ArrowBackIosIcon,
.mcontent:hover>#ArrowForwardIosIcon {
    opacity: 1;
    visibility: visible;
    margin-right: 0px;
    margin-left: 0px;
}